<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>KILNCAP</title>
</head>
<body>

    <div class="left-half">
        <img src="/static/images/logo.png" alt="unable to display">
    </div>

    <div class="right-half">
        <div class="login-welcome"  style="text-align: center;padding:30% 20% 0%">
            <h1 style="color: #C8A757;">Welcome</h1>
            <h4 style="color:#032E2E">Log in to your account to continue</h4>
        </div>

        <div class="login-input-fields">
            <form action="{{ url_for('signin_button') }}" method="post">
                <input type="text" name="username" placeholder="Username" required><br>
                <input type="password" name="password" placeholder="Password" required>
                <img src="/static/icons/lock.png" class="lock-icon"><br>  
                
                <input type="submit" value="SIGN IN">
            </form>
        </div>
    </div>
</body>
</html>